package pages

import "github.com/ayhonz/kaboom/internal/templates/shared"
import "github.com/ayhonz/kaboom/internal/templates/components"
import "github.com/ayhonz/kaboom/internal/model"

templ HomePage(todos []model.Todo) {
	@shared.Page("Home") {
		<h1 class="text-orange-300">Kaboom HOME!</h1>
		@components.AddToDo()
		@components.ListOfTodos(todos)
	}
}
