package pages

import "github.com/ayhonz/kaboom/internal/templates/shared"
import "github.com/ayhonz/kaboom/internal/templates/components"

templ HomePage(todos []string) {
	@shared.Page("Home") {
		<h1>Kaboom HOME!</h1>
		<div>
			@components.AddToDo()
			@components.ListOfTodos(todos)
		</div>
	}
}
