package components

import "github.com/ayhonz/kaboom/internal/model"
import "fmt"

templ TodoItem(todo model.Todo) {
	<li id="todo-item">
		<div>
			{ todo.ID }
		</div>
		<div>
			{ todo.Text }
		</div>
		<div>
			<button type="button" hx-target="#todo-item" hx-swap="outerHTML" hx-delete={fmt.Sprintf("/todos/%v", todo.ID)}>X</button>
		</div>
	</li>
}
