package components

import "github.com/ayhonz/kaboom/internal/model"

templ ListOfTodos(todos[]model.Todo) {
	<table>
		<thead>
			<td>id</td>
			<td>todo</td>
			<td>action</td>
		</thead>
		<tbody id="todos-table"></tbody>
		for _, todo := range todos {
			<tr>
				<td>
					{ todo.ID }
				</td>
				<td>
					{ todo.Text }
				</td>
				<td></td>
				<button type="button">X</button>
			</tr>
		}
	</table>
}
