package components

import "github.com/ayhonz/kaboom/internal/model"

templ TodoItem(todo model.Todo) {
	<li>
		<div>
			{ todo.ID }
		</div>
		<div>
			{ todo.Text }
		</div>
		<div>
			<button type="button">X</button>
		</div>
	</li>
}
